<p>
  <%= label 'Name', :for => "bookmark_name" %><br />
  <%= text_field :name, :size => 50 %>
</p>
<p>
  <%= label 'Url', :for => "bookmark_url" %><br />
  <%= text_field :url, :size => 50 %>
</p>
<p>
  <%= label 'Description', :for => "bookmark_description" %><br />
  <%= text_field :description, :size => 50 %>
</p>
<p>
  <%= label 'Relationship', :for => "bookmark_rel" %><br />
  <%= text_field :rel, :size => 50 %>
</p>
